@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* common */

* {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.important {
  color: #f00;
}

.join-now-party {
  /* border-radius: 8px; */
  background: none;
  border: 0;
  padding: 16px 32px;
  color: white;
  margin-left: 80px;
  float: left;
}
/* common */

/* banner */
.banner {
  text-align: center;
  background-image: url("../img/banner.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  border-radius: 10px;
  padding: 100px 0;
}

.banner-text h5 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather";
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.banner-text h1 {
  color: #fff;
  width: 632px;
  text-align: center;
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin: 5px auto;
  padding-top: 10px;
}
/* banner end */

/* section */
/* 1st section */
.off-text h2 {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 40px;
  margin-bottom: 20px;
}

.off-text p {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  margin-bottom: 0;
}

.off-text h5 {
  color: #070211;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 20px;
}

.off-img img {
  margin: 0 auto;
  width: 400px;
  display: block;
}

.off {
  margin: 50px 0;
}
/* 1st section end */

/* 2nd section */
.welcome {
  text-align: center;
  background-image: url("../img/vic.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  border-radius: 10px;
  padding: 100px 0;
}

.welcome h1 {
  color: #fff;
  font-family: "Merriweather";
  font-size: 64px;
  font-style: normal;
  text-align: left;
  letter-spacing: 7.04px;
  width: 642px;
  padding-left: 50px;
  margin-bottom: 0;
}

.welcome p {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  padding-top: 0px;
  padding-left: 50px;
}

.welcome h6 {
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-family: "Inter";
  font-size: 15px;
  padding-left: 90px;
}
/* 2nd section end */
/* 3rd section */
.ticket {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 100px 0;
}

.join-now {
  border-radius: 8px;
  background: #f00;
  border: 0;
  padding: 16px 32px;
  color: white;
}

/* 3rd section end */

/* gift section */
.gift-text h6 {
  color: #f00;
  font-family: "Inter";
  font-size: 18px;
  margin-bottom: 0;
}
.gift-text h2 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  padding-top: 0;
}
.gift-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
}
.gift-img {
  display: flex;
  gap: 2%;
  flex-direction: row;
  flex-wrap: wrap;
}
.gift-img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.gift-img div {
  flex: 1 1 32%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.gift-img div img {
  max-width: 100%;
}
/* gift section end */

/* best offer */

.best-offer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
.best-offer div {
  flex-wrap: wrap;
}

.best-offer-img img {
  border: 5px solid red;
  outline-style: solid;
  outline-color: red;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
}

/* best offer end */

/* newsletter */
.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.newsletter-img img {
  display: block;
  margin: 0 auto;
}

.newsletter-text p {
  text-align: center;
  padding: 0 80px;
  /* width: 500px; */
}
.newsletter-form {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.newsletter-form input {
  flex: 0 1 50%;
  padding: 20px 40px;
  border: 0;
  border-radius: 50px 0px 0px 50px;
}
/* newsletter end */

/* subscribe */
.subscribe {
  align-items: center;
  padding: 23px 45px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
}
/* subscribe end */

/* footer */
footer {
  background: #070211;
  padding: 100px 0;
}
.footer p {
  color: #fff;

  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer-reserve-part {
  display: flex;
  justify-content: space-between;
}

.footer-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-img img:not(:last-child) {
  margin-right: 20px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}
.footer-contact {
  display: flex;
  gap: 10px;
}
/* footer end */
/* holiday sale */

.holiday-sale-text{
  padding: auto;
}
.sale-img{
  background-image: url('../img/Rectangle-2.png');
  background-position: bottom;
  background-repeat:  no-repeat;
  /* background-size: cover; */

  
}
#box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.sale-box{
  position: sticky;
  left: 20px;
  
}
.sale-girl{
  position: relative;
  right: 232px;
  top: -110px;
}
.sale-parcen{
  z-index: 1;
  padding-bottom: 180px;
  

  

}
